html {
  font-size: 10px;
}
//footer 아래에 붙이기
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main{
    flex-grow: 1;
  }
}
//ir
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
